.purple/logs/
.purple/icons/
.config/ario/covers/
.xmonad/history
.vim/.netrwhist
*.swp
Downloads
Pictures
comics
devel
games
music
notes
private
programs
projects
school
screenshots
text
tmp
web
work
