/.FBReader/
/.Skype/
/.TeXworks/
/.Xauthority
/.adobe/
/.appdata/
/.aptitude/
/.avidemux/
/.bash_history
/.bash_logout
/.bashrc
/.cache/
/.ccliverc
/.config/
/.config/ario/covers/
/.cpan/
/.cvspass
/.dbus/
/.dmenu_cache
/.esd_auth
/.fontconfig/
/.gconf/
/.gconfd/
/.gegl-0.0/
/.gem/
/.gimp-2.6/
/.gksu.lock
/.gnome2/
/.gnupg/
/.gstreamer-0.10/
/.heroku/
/.hplip/
/.icedove/
/.irb-history
/.java/
/.kde/
/.kde4/
/.keychain/
/.lesshst
/.lftp/
/.libreoffice/
/.local/
/.macromedia/
/.mozilla/
/.mutt/
/.mutt_certificates
/.netx/
/.openoffice.org/
/.pdfedit/
/.pki/
/.profile
/.pulse-cookie
/.pulse/
/.purple/
/.purple/icons/
/.purple/logs/
/.qt/
/.rdebug_hist
/.recently-used
/.rtorrent/
/.rvm/
/.smbc/
/.sqlite_history
/.ssh/
/.subversion/
/.thumbnails/
/.unison/
/.vim/.netrwhist
/.viminfo
/.vmware/
/.vnc/
/.w3m/
/.webex/
/.wicd/
/.wireshark/
/.xmonad/history
/.xsession-errors
/.zcompdump
/.zotero/
/.zsh_history
/.zsnes/
/Desktop/
/Downloads/
/Pictures/
/bin/
/comics/
/devel/
/games/
/music/
/notes/
/private/
/programs/
/projects/
/school/
/screenshots/
/text/
/tmp/
/web/
/work/
