XTerm*background: Black
XTerm*foreground: gray90
XTerm*cursorColor: grey
XTerm*dynamicColors: on
!XTerm*faceName: Inconsolata
!XTerm*faceSize: 9
!XTerm*font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-iso10646-*

XTerm*geometry: 80x25
XTerm*scrollBar: false
XTerm*charClass:33:48,35:48,37-38:48,45-47:48,58:48,61:48,63-64:48,126:48
XTerm*backarrowKeyIsErase: false
XTerm*locale: UTF-8
XTerm*utf8: 1
XTerm*eightBitInput: false
XTerm*termName: xterm-256color
XTerm*saveLines: 1024
XTerm*bellIsUrgent: true
