[user]
	name = Michael Leuchtenburg
	email = mleuchtenburg@singlestore.com

[merge]
	tool = nvimdiff

[alias]
  gl = log --pretty=format:'%C(yellow)%h%C(reset) | %an | %ar | %C(cyan)%s%C(reset)%d' --topo-order --graph --decorate
	d = difftool
  co = checkout

[color]
	diff = auto
	status = auto
	branch = auto

[include]
    path=~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[push]
	default = current

[init]
	defaultBranch = main
