!XTerm*background: Black
!XTerm*foreground: gray90
!XTerm*cursorColor: grey
!XTerm*dynamicColors: on
!XTerm*faceName: Inconsolata
!XTerm*faceSize: 9
!XTerm*font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-iso10646-*

XTerm*geometry: 80x25
XTerm*scrollBar: false
XTerm*charClass:33:48,35:48,37-38:48,45-47:48,58:48,61:48,63-64:48,126:48
XTerm*backarrowKeyIsErase: false
XTerm*locale: UTF-8
XTerm*utf8: 1
XTerm*eightBitInput: false
XTerm*termName: xterm-256color
XTerm*saveLines: 4096
XTerm*bellIsUrgent: true

! Do not scroll down when something comes on the screen
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
! But do scroll to the bottom if I press a key (other than input to rxvt itself)
URxvt.scrollTtyKeypress: true

! Do not use messed up colors for bold
URxvt.intensityStyles: false

URxvt.reverseVideo: false
URxvt.scrollBar: false
URxvt.saveLines: 100000
URxvt.visualBell: false
URxvt.font: xft:terminus:pixelsize=12,xft:unifont
URxvt.boldFont: xft:terminus:bold:pixelsize=12
URxvt.underlineURLs: true
URxvt.perl-ext-common: default,bell-command,matcher,font-size
URxvt.urlLauncher: sensible-browser
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:matcher:list
URxvt.bell-command: aplay -q ~/.etc/sounds/beep1.wav
URxvt.urgentOnBell: true
URxvt.keysym.C-Up:    perl:font-size:increase
URxvt.keysym.C-Down:  perl:font-size:decrease
URxvt.termName: rxvt-256color
URxvt*iso14755: False

Rxvt.print-pipe: "cat > /dev/null"

#include ".Xresources.base16"
