// Home desk monitor layout

output "PNP(AOC) U34G2G4R3 0x0000010B" {
    mode "3440x1440"
    scale 1
    transform "normal"
    position x=0 y=500
    variable-refresh-rate on-demand=true
}

output "ASUSTek COMPUTER INC PA278CV MBLMQS020628" {
    mode "2560x1440"
    scale 1
    transform "270"
    position x=3440 y=0
}
